@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    This demo was created by Fernando Zamora.
    You can follow me at the following locations:
    <ul>
        <li>Twitter: <a href="https://twitter.com/#!/fernandozamoraj">fernandozamoraj</a></li>
        <li>Blog: <a href="http://fernandozamorajimenez.blogspot.com/">http://fernandozamorajimenez.blogspot.com/</a></li>
        <li>Github: <a href="https://github.com/fernandozamoraj">https://github.com/fernandozamoraj</a></li>
    </ul>
</p>
<p>
    Most of the source code was taken from the post
    <a href="http://www.eggheadcafe.com/tutorials/asp-net/7784b8c5-51ed-4aa9-b837-ed4084924ee8/implementing-browserid-signin-with-aspnet.aspx">
        Implementing BrowserID SignIn with ASP.NET.
    </a>
    I only wrote enough code to integrate the functionality with this MVC3 demo.
</p>
<p>
    Please use this code at your own risk. I make no warranties as it pertains to its correctness or security.
</p>
<p>
    You can download this full demo at <a href="https://github.com/fernandozamoraj/BrowserIdDemoWithMVC3">https://github.com/fernandozamoraj/BrowserIdDemoWithMVC3</a>.
</p>
