@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<p>This demo is a simple project that demonstrates how to tie <a href="https://browserid.org/">BrowserID</a>. 
    with MVC3.
</p>
<p>To view the demo click [Log On] above</p>
<p>To get download details please click on the About page.</p>
<p>Footprint</p>

