@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ActionLink("Go to login page", "Index", "Login");

    <p>To Download the full source code visit github.com</p>
</p>
